body {
  background-color: #F5E3E7;
  color: #4A262F;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

strong {
  color: #0f0e0f;
}

a {
  text-decoration: none;
  color: #e9e4e5;
}
table {
  width: 100%; /* Le tableau prend toute la largeur disponible */
  background-color: #4A262F; /* Couleur de fond du tableau */
  color: #e9e4e5; /* Couleur du texte */
}
#centrer {
  text-align: center;
}
.couleur {
  color: #47020286;
}